#lesson-content .korean-word,
#lesson-content .english-word {
  font-weight: bold;
  font-size: 20px; }
#lesson-content .phrase {
  margin: 0 0 0 10px; }
#lesson-content .popover {
  max-width: 500px; }
