#korean-app .panel-heading {
    color: #777;
}

#korean-app #grammar .panel-body,
#korean-app #vocab .panel-body
{
    padding: 0;
}

#korean-app #vocab .nav li a {
    padding-left: 30px;
}

#korean-app #grammar-accordian {
    margin-bottom: 0;
}

#korean-app #grammar-accordian .nav li a {
    padding-left: 45px;
}

#korean-app #grammar-accordian .panel-default {
    margin-top: 0;
    border: none;
}

#korean-app #grammar-accordian .panel-default .panel-title {
    padding-left: 15px;
}

#korean-app .page-header {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px; }
#korean-app #lesson-content #word-holder .korean-word,
#korean-app #lesson-content #word-holder .english-word {
  font-weight: bold;
  font-size: 20px; }
#korean-app #lesson-content #word-holder .phrase {
  margin: 0 0 0 10px; }
#korean-app #lesson-content #word-holder .page-header .popover {
  max-width: 500px; }
  #korean-app #lesson-content #word-holder .page-header .popover a {
    cursor: pointer; }
  #korean-app #lesson-content #word-holder .page-header .popover button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none; }
#korean-app .vocab-content {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }
#korean-app footer p {
  margin-left: 20px; }
