#korean-app {
	.page-header {
		 margin-bottom: 30px;
		font-size: 18px;
		font-weight: 200;
		line-height: 30px;
		color: inherit;
		background-color: #eeeeee;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding: 10px;
	}

	#lesson-content {

	.korean-word,
	.english-word {
	    font-weight: bold;
	    font-size: 20px;
	}

	.phrase {
	    margin: 0 0 0 10px;
	}

	.page-header {
			.popover {
				max-width: 500px;
				a {
					cursor: pointer;
				}
			}
		}
	}

	.vocab-content {
		display: block;
		padding: 3px 15px;
		font-size: 11px;
		font-weight: bold;
		line-height: 20px;
		color: #999999;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}

	footer {
		p {
			margin-left: 20px;
		}
	}
}