<div class="vocab-content container-fluid well well-small">
    <div id="vocab-list-holder">
        <table class="table table-condensed table-hover">
            <caption>Vocabulary List</caption>
            <thead>
            <tr>
                <td>Word</td>
                <td>Translation</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>